<!-- templates/registration/signup.html -->
{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% comment %}
content {% endcomment %} {% block content %}
<section>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="box">
    <div class="container1">
      <div class="form">
        <h2>Login Form</h2>
        <form method="post">
          {% csrf_token %}
          <div class="inputBox">
            <input type="text" placeholder="Enter E-mail" required />
          </div>
          <div class="inputBox">
            <input type="password" placeholder="Enter Password" required />
          </div>
          <div class="inputBox">
            <input type="password" placeholder="confirm Password" required />
          </div>
          <div class="inputBox">
            <input type="submit" value="Login" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% comment %}
<h2>Sign up</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Sign Up</button>
</form>
{% endcomment %} {% endblock %}
